
  <ngx-charts-bar-vertical
    [view]= "view"
    [scheme]= "colorScheme"
    [results]= "single"
    [gradient]= "gradient"
    [xAxis]= "showXAxis"
    [yAxis]= "showYAxis"
    [legend]= "showLegend"
    [legendTitle]= "legendAxisLabel"
    [showXAxisLabel]= "showXAxisLabel"
    [showYAxisLabel]= "showYAxisLabel"
    [xAxisLabel]= "xAxisLabel"
    [yAxisLabel]= "yAxisLabel"
    >
  </ngx-charts-bar-vertical>

    <ngx-charts-advanced-pie-chart
    [view]= "view1"
    [scheme]= "colorScheme1"
    [results]= "single1"
    [gradient]= "gradient1"
    >
  </ngx-charts-advanced-pie-chart>